<h1>Cargue su CSV de valores iniciales</h1>
<div class="block-form-content">
  <%= flash[:notice] %>
  <div>
    <%= form_tag import_presupuesto_inicial_proyectos_path, multipart: true do %>
      <div class="field">
        <%= file_field_tag :file %>
      </div>
      <div class="actions">
        <%= submit_tag "Cargar Archivo CSV" %>
      </div>
    <% end %>
  </div>
</div>
  
