// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto|Staatliches|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto: "Roboto", serif;
$title: "Staatliches", serif;
$open-sans: "Open Sans", sans-serif;
$acceVerde: #84a640;
$acceAzul: #396696;
$acceGris: #333;

body {
  .container-fluid {
    .sidebar,
    .main {
      min-height: calc(100vh - 40px);
    }
  }
  font-family: $roboto;
  font-weight: normal;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title;
    font-weight: normal;
  }
  .row {
    width: 100%;
    .horizontal-chart {
      border: thin solid #ddd;
      padding: 10px;
      &.item-3,
      &.item-4 {
        border-top: 0;
      }
      &.odd {
        border-right: 0;
      }
      canvas {
        height: 300px;
      }
    }
    .radar-chart {
      padding: 15px;
      position: relative;
      &.odd::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30%;
        display: block;
        top: 35%;
        right: -5px;
        border-right: thin dotted rgba(57, 102, 150, 0.5);
      }
      canvas {
        height: 500px;
      }
    }
    h3 {
      color: #25CCF7;
      margin-top: 25px;
    }
    h4 {
      color: #777;
      font-size: 1.2em;
      margin-top: 0.5rem;
    }
    .bottom-border {
      border-bottom: thin solid rgba(57, 102, 150, 0.5);
      padding-bottom: 25px;
    }
  }
  .sidebar .nav-link {
    font-weight: 500;
    color: $acceGris;
    &:visited {
      color: $acceGris;
    }
    &:hover {
      color: $acceAzul;
    }
    &:active {
      color: $acceAzul;
    }
  }
  .top-container {
    position: relative;
    width: 100%;
    height: 48px;
    h1 {
      float: left;
    }
    form {
      padding: 9px 0;
      float: right;
      display: flex;
      justify-content: center;
      label {
        margin-right: 7px;
      }
      .badge-primary {
        border: none;
        border-radius: 0;
        margin: 0 5px;
        width: 100px;
      }
    }
    .actions {
      position: absolute;
      top: 0;
      right: 0;
      
    }
  }

  .pagination {
    align-items: center;
    justify-content: center;
    .page-link {
      color: #396696;
    }
    .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #396696;
      border-color: #396696;
    }
  }

  .badge {
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .badge-primary {
    color: #fff;
    background-color: #007bff;
    &:focus,
    &:hover {
      color: #fff;
      background-color: #0062cc;
    }
  }
  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
    &:focus,
    &:hover {
      color: #fff;
      background-color: #545b62;
    }
  }
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
    &:focus,
    &:hover {
      color: #fff;
      background-color: #bd2130;
    }
  }
  .badge-info {
    color: #fff;
    background-color: #17a2b8;
    &:focus,
    &:hover {
      background-color: #117a8b;
    }
  }

  table {
    th,
    td {
      font-size: 0.875rem;
    }

    td.pr-money {
      color: $acceVerde;
    }
    tr.pr-totales {
      background-color: #6c757d;
      color: #FFF;
      font-weight: bold;
      &:hover {
        color: #FFF;
      }
      .label {
        text-align: right;
        font-size: 1.2rem;
        align-items: center;
      }
      .value {
        display: flex;
        align-items: center;
        padding: 0.2rem 0;
        &:focus,
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

.currSign:before {
  content: "$";
}

.block-form-content {
  -webkit-box-shadow: 0px 16px 32px rgba(173, 186, 201, 0.24);
  -moz-box-shadow: 0px 16px 32px rgba(173, 186, 201, 0.24);
  box-shadow: 0px 16px 32px rgba(173, 186, 201, 0.24);
  background-color: white;
  padding: 40px 25px;
  max-width: 800px;
  margin: 0 auto;
  .field {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    label {
      font-size: 16px;
      line-height: 24px;
      color: #303c42;
      font-weight: normal;
      position: relative;
      top: -2px;
      width: 200px;
    }
    textarea,
    input {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &[type="text"] {
        width: 100%;
        height: 38px;
        padding: 0.5em 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #afbac7;
        margin: 0;
        color: #afbac7;
        outline: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: left 3s ease-in-out;
      }
      &:focus {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.87);
        color: #303c42;
      }
    }
    select,
    textarea {
      width: 100%;
      height: 38px;
      padding: 0.5em 0;
      background-color: #FFF;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 1px solid #afbac7;
      margin: 0;
      color: #afbac7;
      outline: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: left 3s ease-in-out;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      margin-right: 10px;
    }
    input,
    a {
      border-radius: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.45px;
      text-transform: uppercase;
      width: auto;
      min-height: 50px;
      color: #303c42;
      background: #bfd400;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      padding: 10px;
      outline: none;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
      transition: 0.3s ease-out all;
      -webkit-backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      align-items: center;
      display: flex;
      &:hover,
      &:focus {
        background-color: #3177dc;
        color: #fff;
      }
    }
  }
}
